@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&display=swap');
.shopy{
  height:160vh;
  display:flex;
  flex-direction: row;
  width: 100%;  
  padding-top: 100px;

}

.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination > .active > a{
  background-color: #000 ;
  border-color: #000 ;
  color: #fff;
}
.pagination > li > a{
  border: 1px solid #000 ;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a,
 .pagination > .active > span,
  .pagination > .active > a:hover,
  .pagination > .active > span:hover,
  .pagination > .active > a:focus, .pagination > .active > span:focus{
  background-color: #000 ;
  border-color: #000;
  outline: none ;
}
.pagination > li > a, .pagination > li > span{
  color: #000
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
  border-radius: unset
}

.shop-product{
  display: flex;
  flex-direction: column;
  flex: 8;
  align-items: center;
  /* margin-bottom: -70vh;   */
  margin-bottom: 70px;
  justify-content: flex-start;

}

.shop-product .select {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;  
  margin-right: 30px;
}


/* Filters */
.select select {
  width:150px;
  height: 40px;
  border: 2px solid #000;
  background-color: transparent;
  color: rgb(82, 82, 82);
  margin-right: 10px;
  overflow: scroll;
  
}

.bar {
  display: flex;
  flex-direction: column;
  flex: 1; 
  align-items: flex-end; 
  padding-left:25px;  
  height: 100%;
  /* background-color: whitesmoke; */
}
.shop-bar{  
  width: 100%;
  color:#000;  
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  
}
.activ {
  color: gray;
}



/* Sidebar Style */
.apparel {
  width: 100%;
  height: auto;
  /* background-color: purple; */
  
}
.apparel  ul {
  list-style: none;
  text-decoration: none;
  width:100%;
}

.apparel h4 {
  font-family: 'montserrat';
  font-size: 20px;
  font-weight: 800;
}

.apparel  ul li {
  cursor: pointer;
  font-family: 'montserrat';
  font-size: 15px;
  font-weight: 300;
  /* background-color: red; */
  width:100%;
  float:left;
  margin-left:-30px;
}

.dropwicon{
  display: flex;
  flex-direction: row;
}
.apparel_drop {
  /* display: none;   */
  max-height: 0;
  width:200px;
  background-color: #fff;
  overflow: hidden;
  margin-left:-20px;
  transition: max-height 0.2s ease-out;
}
.dropactive {
  display: block;
}


/* Singular product */

.prod {
  /* display: flex;
  flex-direction: row;  
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-end; */
  width:95%;
  display: grid;
  grid-template-columns: auto auto auto;
  /* justify-content: space-evenly; */
  grid-gap: 25px 50px;
  /* height: fit-content; */
  height: 150vh;
  /* background-color:red; */
  overflow: hidden;
  margin-left:50px;
}
.mypost{
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 400px;
  
}
.mypost img {
  width:320px;
  height: 480px;
}

.mypost .ba {
  position: absolute;
  top:0;
  left:0;
}
.post-title {
  font-size: 10px;
}

 /*Media Responsive*/
 @media screen and (min-width : 320px)
 and (max-width : 600px) {  
  .shopy{
    height: fit-content;
    display:flex;
    flex-direction: row;
    width: 100%;  
    padding-top: 100px;
    margin-bottom: 30vh;
  
  }
   
  .bar {
    display: flex;
    flex-direction: column;
    
    align-items: flex-end; 
    padding-left:25px;  
    height: fit-content;
    display:none;
  }
  .shop-product{
    width:100%;
    display: flex;
    flex-direction: column;    
    align-items: center;
    /* margin-bottom: -70vh;   */
    margin-bottom: 30vh;
    justify-content: center;
    
  }
  
  .shop-product .select {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-around;
    width: 78%;  
 
    
  }
  .select select {
    width:100px;
    height: 30px;
    border: 2px solid #000;
    background-color: transparent;
    color: rgb(82, 82, 82);
    margin-top: 10px;
    overflow: scroll;

    
    
  }
  .prod {
    display: grid;
    grid-template-columns: auto auto;     
    align-items: flex-start;
    justify-content: center;
    height: fit-content;
    
  }
  
  .pagination {
    max-width: 100%;
    height: 50px;
    /* display: flex; */
    list-style: none;
    outline: none;
    display:none;
    
    overflow: scroll;
  }
   
 
 }

 @media screen and (min-width : 600px)
 and (max-width : 900px) {
    
    
  .shopy{
    height: fit-content;
    display:flex;
    flex-direction: row;
    width: 100%;  
    padding-top: 100px;
    /* margin-bottom: 30vh; */
  
  }
   
  .bar {
    display: flex;
    flex-direction: column;
    
    align-items: flex-end; 
    padding-left:25px;  
    height: fit-content;
    display:none;
  }
  .shop-product{
    width:100%;
    display: flex;
    flex-direction: column;    
    align-items: center;
    /* margin-bottom: -70vh;   */
    margin-bottom: 30vh;
    justify-content: center;
    
  }
  
  .shop-product .select {
    width: 70%;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-around;
    
  }
  .select select {
    width:150px;
    height: 40px;
    border: 2px solid #000;
    background-color: transparent;
    color: rgb(82, 82, 82);
    margin-top: 10px;
    overflow: scroll;    
    
  }
  .prod {
    display: grid;
    grid-template-columns: auto auto auto;   
    grid-gap: 20px 20px;  
    align-items: flex-start;
    justify-content: center;
    height: fit-content;
    
  }
  
  .pagination {
    max-width: 100%;
    height: auto;
    /* display: flex; */
    list-style: none;
    outline: none;
    display:none;
    
    overflow: scroll;
  }
 
 }