@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700;800;900&display=swap');
.reg {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.register-form {   
    /* margin-top:20px; */
    display: flex;
    flex-direction: column;    
    overflow: hidden;
    margin-bottom: 20px;
    /* align-content: flex-end; */
    align-items: center;
    height: fit-content;
    /* background-color: purple; */
}

.register-form h3 {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 30px;
}
 label {
     font-family: 'Montserrat';
     font-size: 10\5px;
     font-weight: 600;
 }
/* form {
    height: 100vh;
    background-color: purple;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
} */

.names {
    display: flex;
    flex-direction: row;
    height:100px;
    width: 100%;
    padding-bottom:10px
    
}
.names .first-name, .last-name {
    display: flex;
    flex-direction: column;
}

.names input {
    width: 500px;
    min-height: 50px;
    background-color: none;
    box-sizing: border-box;
    margin-right: 50px;
    padding-left: 10px;
    
}

.contact {
    display: flex;
    flex-direction: row; 
    height:100px;
    width: 100%;
    padding-bottom:10px;
}

.contact .mail, .phone-number {
    display: flex;
    flex-direction: column;
}

.contact input {
    width: 500px;
    height: 50px;
    background-color: none;
    margin-right: 50px;
    padding:20px;
}

.password-input {
    display: flex;
    flex-direction: row;
    height:100px;
    width: 100%;
    padding-bottom:10px;

}

.password-input .pword, .c-pword {
    display: flex;
    flex-direction: column;
}

.password-input input {
    width: 500px;
    height: 50px;
    background-color: none;
    margin-right: 50px;
    padding:20px;
}

.bottom {
    display: flex;
    flex-direction: column;
    margin-top:20px;
}
.bottom .c-box{
    display: flex;
    flex-direction: row;
}


/* input {
    background-color: transparent;
    color: rgb(14, 14, 14);
    border: 3px solid #000;
    font-size: 16px;  
    padding-left:10px; 
} */

/* input:focus{
    outline-style: solid;
    outline-color: #986fa5;
    outline-offset: 0;
    background-color: red;
} */
.check-mark {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.button-create {
    background-color: #000000;
    color: #fff;
    border: none;
    text-align: center;  
    width: 150px;
    height: 40px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Montserrat';
    font-weight: 800;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
}

.login-link a {
    font-family: 'Montserrat';
    font-weight: 200;
    font-size: 15px;
    color: #000;
    text-decoration-color: #000;
    text-decoration: underline;
    opacity: .8;
    margin-top: 20px;
    
}

.login-link a:hover {
    
    color: #000;
    text-decoration-color: #000;
    text-decoration: underline;
    opacity: 1;
    
}

.login-link link {
    font-family: 'Montserrat';
    font-weight: 100;
    font-size: 15px;
    color: #000;
    text-decoration-color: #000;
    text-decoration: underline;
    opacity: .8;
    margin-top: 20px;
    
}

.login-link link:hover {
    
    color: #000;
    text-decoration-color: #000;
    text-decoration: underline;
    opacity: 1;
    
}


/*Media Responsive*/
@media screen and (min-width : 320px)
and (max-width : 600px) {

    .register-form {   
        margin-top:0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        margin:0 auto;        
        margin-bottom:50px
        
        
    }

        
    .register-form h3 {
        font-family: 'Montserrat';
        font-weight: 800;
        font-size: 20px;
    }
    label {
        font-family: 'Montserrat';
        font-size: 10\5px;
        font-weight: 600;
    }

    .names {
        display: flex;
        flex-direction: column;
        
        width: 100%;
    }
    .names .first-name, .last-name {
        display: flex;
        flex-direction: column;
        margin-top:15px;
    }

    .names input {
        width: 300px;
        height: 30px;
        background-color: none;
        margin-right: 0px;
        padding: 20px;
        font-size: 16px;
    }

    .contact {
        display: flex;
        flex-direction: column;    
        margin-top:5px;
        
    }

    .contact .mail, .phone-number {
        display: flex;
        flex-direction: column;
        margin-top:15px;
    }

    .contact input {
        width: 300px;
        height: 30px;
        background-color: none;
        margin-right: 0px;
        padding:20px;
        font-size: 16px;
    }

    .password-input {
        display: flex;
        flex-direction: column;    
        margin-top:5px;    
        
    }

    .password-input .pword, .c-pword {
        display: flex;
        flex-direction: column;
        margin-top:15px;
    }

    .password-input input {
        width: 300px;
        height: 30px;
        background-color: none;
        margin-right: 0px;
        padding:20px;
        font-size: 16px;
    }    
    

}

/*Media Responsive*/
@media screen and (min-width : 600px)
and (max-width : 900px) {

    .register-form {   
        margin-top:0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        margin:0 auto;        
        margin-bottom:50px
        
        
    }

        
    .register-form h3 {
        font-family: 'Montserrat';
        font-weight: 800;
        font-size: 20px;
    }
    label {
        font-family: 'Montserrat';
        font-size: 10\5px;
        font-weight: 600;
    }

    .names {
        display: flex;
        flex-direction:row;
        
        width: 100%;
    }
    .names .first-name, .last-name {
        display: flex;
        flex-direction: column;
        margin-top:15px;
    }

    .names input {
        width: 300px;
        height: 30px;
        background-color: none;
        margin-right: 25px;
        padding: 20px;
        font-size: 16px;
        
    }

    .contact {
        display: flex;
        flex-direction: row;    
        margin-top:5px;
        
    }

    .contact .mail, .phone-number {
        display: flex;
        flex-direction: column;
        margin-top:15px;
    }

    .contact input {
        width: 300px;
        height: 30px;
        background-color: none;
        margin-right: 25px;
        padding:20px;
        font-size: 16px;
    }

    .password-input {
        display: flex;
        flex-direction: row;    
        margin-top:5px;    
        
    }

    .password-input .pword, .c-pword {
        display: flex;
        flex-direction: column;
        margin-top:15px;
    }

    .password-input input {
        width: 300px;
        height: 30px;
        background-color: none;
        margin-right: 25px;
        padding:20px;
        font-size: 16px;
    }    
    

}

