/*Nav Brand*/

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  .App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }
  
  .App-intro {
    font-size: large;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  @keyframes preloader {
    0%   {height: 25px;}
    25%  {height: 40px;}
    50%  {height: 50px;}
    75%  {height: 40px;}
    100% {height: 25px;}
  }
  
  .brand {
    float: left;
    margin: auto;
    margin-top: 17px;
    margin-left: 10px;    
  }
  
  .App-brand {  
    height: 30px;    
  }

  
#barIcon {
  display: inline-block;
  cursor: pointer;
  display: none;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  transition: 0.5s;
  margin: 6px 0;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
/*cart*/
.cart-buy {
  position: relative;
  margin-right: 10px;
}
.cart-buy .amount {
  color: #000;
  font-size: 12px;
  left: 35%;
  font-weight: bold;    
  position: absolute;
  top: 30%;
}

  
  /*NavBar*/
  .newNav{
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .mainnav {
    width: 100%;  
    margin: auto;  
    display: flex;
    flex-direction: row;
    background-color: black;  
    overflow: hidden;
    align-items: center;
    justify-content: center;
  }
  .navul  {
    display: flex;
    flex-direction: row;
    float: right;
    padding: 10px;
    margin-right: 10px;
    margin-top: 10px;
    text-decoration: none;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    
    
  }
  .navul li a {
    color: #fff;
    text-decoration: none;
    margin-right: 25px;    
    font-size: 15px; 
    font-weight: bold; 
    transition: opacity 0.5s ease; 
  }

  .navul li a:hover {
    opacity:0.5;
  }
  
  
  
  .acti {
    opacity: 0.5;
    width: 150px;
    height: 60px;
    padding: 0px;
    color : #000;     
    font-size: 15px; 
    font-weight: bold; 
  }
  #drop {
    color: #fff;
  }
  #dropy {
    position: absolute;
    z-index: 999;
    margin: auto;
    
    margin-top:5px;
    margin-right:10px;
    display: none;
    padding: 10px;
    background-color: #000;

  }
  .dropdownNav li {
    text-decoration: none;
    list-style-type: none;
    
  }
   
  .dropdownNav li a {
    
    text-decoration: none;
    
    color : white;
    font-size: 15px; 
    font-weight: bold;  
    transition: opacity 0.5s ease; 
  }
  .mainnav .bar-svg {
    display: none;
  }
  
/*Media Responsive*/
@media screen and (min-width : 320px)
and (max-width : 900px) {  
  .mainnav .bar-svg {
    display: block;
    margin-right:10px;
  }
  .brand {
    float: left;
    margin: auto;
    margin-top: auto;
    margin-left: 10px;
    
  }
  
  .App-brand {  
    height: 30px;
    
  }
  .navul {
    display: none;
  }

  #barIcon {
    display: block;
    float: right; 
    margin-right: 20px;
  }

}

@media screen and (max-width: 900px) {
  .navul.responsive li {position: relative;}
  .navul.responsive {
    z-index: 100;
    position: absolute;
    display: flex;
    flex-direction: column;     
    top:50px;
    right:0;
    float:right;
    margin-right: -0px;
    text-decoration: none;
    list-style-type: none;
    text-align: left;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 100px;
    background-color: #000;
    
  }
  
}

