/*Nav Brand*/
 
  
  
  .brand {
    float: left;
    margin: auto;
    margin-top: 17px;
    margin-left: 10px;    
  }
  
  .App-brand {  
    height: 30px;    
  }

  
#barIcon {
  display: inline-block;
  cursor: pointer;
  display: none;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  transition: 0.5s;
  margin: 6px 0;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
/*cart*/
.cart-icon {
  position: relative;
  margin-right: 10px;
}
.cart-icon .cart-quantity {
  color: #000;
  font-size: 12px;
  left: 35%;
  font-weight: bold;    
  position: absolute;
  top: 30%;
  cursor:pointer;
}

  
  /*NavBar*/
  .app-navbar{
    
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .main-nav {
    
    width: 100%;  
    margin: auto;  
    display: flex;
    flex-direction: row;
    background-color: black;  
    /* overflow: hidden; */
    align-items: center;
    justify-content: center;
    color:#fff;
  }
  .main-nav-list  {
    display: flex;
    flex-direction: row;
    float: right;
    padding: 10px;
    margin-right: 10px;
    margin-top: 10px;
    text-decoration: none;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    color:#fff;    
    
  }
  .main-nav-list li a {
    color: #fff;
    text-decoration: none;
    margin-right: 25px;    
    font-size: 18px; 
    font-weight: bold; 
    transition: opacity 0.5s ease; 
  }

  .main-nav-list li a:hover {
    opacity:0.5;
  }  
  
  
  .acti {
    opacity: 0.5;
    width: 150px;
    height: 60px;
    padding: 0px;
    color : #fff;     
    font-size: 18px; 
    font-weight: bold; 
  }
  #drop {
    color: #fff;
  }
  #dropdown-nav {
    position: absolute;
    z-index: 99;
    margin: auto;    
    margin-top:5px;
    margin-right:10px;
    display: none;
    padding: 10px;
    background-color: #000;

  }
  .dropdown-nav li {
    text-decoration: none;
    list-style-type: none;
    
  }
   
  .dropdown-nav li a {
    
    text-decoration: none;    
    color : #fff;
    font-size: 18px; 
    font-weight: bold;  
    transition: opacity 0.5s ease; 
  }
  .main-nav .bar-svg {
    display: none;
    z-index:101;
  }

  .mobile-nav {
    display: none;    
  }

/*Media Responsive*/
@media screen and (min-width : 320px)
and (max-width : 900px) { 
  .main-nav-list{
    display:none;
  } 
  .main-nav .bar-svg {
    display: block;
    margin-right:10px;
  }
  .brand {
    float: left;
    margin: auto;
    margin-top: auto;
    margin-left: 10px;
    
  }
  
  .App-brand {  
    height: 30px;
    
  }
  

  #barIcon {
    display: block;
    float: right; 
    margin-right: 20px;
  }

  
  .mobile-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 500px;
    background-color: #fff;
    position: absolute;
    top:0px;
    z-index: 100;
    right:0px;
  }

  .mobile-nav-list {
    color:#000;
    font-size: 30px;
    font-weight:bold;
    cursor: pointer;
  }
  .mobile-nav-list li {
    text-decoration: none;
    list-style-type: none;
  }
  .mobile-nav-list li a {
    text-decoration: none;    
    color : #000;
    font-size: 30px; 
    font-weight: bold;  
    transition: opacity 0.5s ease; 
  }

}

@media screen and (max-width: 900px) {
  .main-nav-list.responsive li {position: relative;}
  .main-nav-list.responsive {
    z-index: 100;
    position: absolute;
    display: flex;
    flex-direction: column;     
    top:50px;
    right:0;
    float:right;
    margin-right: -0px;
    text-decoration: none;
    list-style-type: none;
    text-align: left;
    align-items: flex-end;
    justify-content: flex-start;
    margin-bottom: 100px;
    background-color: #000;
    height: 500px;
    
    
  }
  
}

