.sig {
    height: 100vh;
}
.sign-in {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
#page {
    margin : 0 auto;
    margin-top: 40px;
    height: 100vh;  
    display: flex;
    align-items: center;
    justify-content: center;

}

#page1 {
    margin : 0 auto;
    margin-top: 40px;
    height: 100vh;   
    display: flex;
    align-items: center;

}