.sig {
    height: 100vh;
}
.sign-in {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
#page {
    margin : 0 auto;
    
    height: fit-content;  
    display: flex;
    align-items: center;
    justify-content: center;

}

#page1 {
    margin : 0 auto;    
    height: fit-content;   
    display: flex;
    align-items: center;

}