@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap');
/*collection*/

.collection-container {
width: 100%;

background-color: #fff;
display: flex;
flex-direction: column;
font-family: 'Montserrat', sans-serif;
text-align: center;
margin-top: 40px;
margin-bottom: 20px;
}

.collection-text {
align-content: center;
justify-content: center;
}

.collection-text h3{
    margin: 0 0 12.5px;
    line-height: 1.2;
    overflow-wrap: break-word;
    word-wrap: break-word; 
    font-weight: 800;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    color: #000;
}

.collection-collection {
width: 100%;
margin-top: 40px;
margin-bottom: 40px;

}

.clist-container {
    width: 100%;    
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-gap: 40px;    

}


.clist-cont {  
width: 100%;
display: flex;
flex-direction: column;  
cursor: pointer; 

}

.clist-cont .clist-product{
display: flex;
flex-direction: column;  
align-items: center;
}

.clist-ima{
position: relative;
display: flex;
flex-direction: column;
text-align: center;
align-items: center;
justify-content: center;
overflow:hidden;
}

.clist-ima img{  
  width: 250px;
  transform-origin: 50% 50%;
  -webkit-transition: transform 1s, filter .5s ease-out;
  -moz-transition: transform 1s, filter .5s ease-out ;
  -o-transition: transform 1s, filter .5s ease-out;
  transition: transform 1s, filter .5s ease-out;
}
.clist-ima:hover img{  
opacity: .7; 
cursor: pointer;
transform: scale(1.3);
}
.clist-text {
    position: absolute;  
    z-index:999;
    margin: 0 auto;
    top: 45%;
    left : 0;  
    right: 0;
    width: 60%;    
     
    display: inline-block;
        
        
}


.clist-text h3 {   
    font-weight: 800;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    
    margin: 0 auto;
    text-align: center;
}

/*Media Responsive*/
@media screen and (min-width : 320px)
and (max-width : 600px) {

  .collection-container {
    width: 100%;
    
    background-color: #fff;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    }

  .clist-container {
    max-width: 90%;    
    display: grid;
    grid-template-columns: auto;
    grid-gap: 30px;
    margin:10px;       
    
  }
  .clist-ima img{  
    width: 210px;  
  }
  

}

@media screen and (min-width : 600px)
and (max-width : 900px){
  .clist-container {
    max-width: 80%;    
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    margin: 0 auto;
    align-content: center;
    align-items: center;
    justify-content: center;
    
    
  }
  
  .clist-ima img{  
    width: 220px;  
  }

}
