@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap');


.pr-text {
  width: 100%; 
  height: 40px; 
  color: #f1b1b1;
  padding: 20px;
  margin-bottom: 50px;
  margin-top: 20px;
}
#container-ow {
  
  overflow: hidden;
}
.pr-text h3{
  margin: 0 0 12.5px;
    font-family: "Montserrat",sans-serif;
    font-weight: 900;
    line-height: 1.2;
    overflow-wrap: break-word;
    word-wrap: break-word; 
    color: #000;
}
#product-car {
    width: 100%;
  }

  #carousel-product {
    display: flex;
    flex-direction: column;   
    width: 100%;  
    margin-top: 10px;
    text-align: center;
    margin-bottom: 80px;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
  }
 
  .neww {
   
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-content: center;
    
  }
 
  .carousel-prod-btn {
    margin-top: 50px;
    
  }
  
  .carousel-prod-btn .prod-btn {
    width: 130px;
    height: 50px;
    background-color: #000000;
    color:#fff;
    opacity:.9;
    font-family: "Montserrat",sans-serif;
    font-weight: 600;
    line-height: 1.2;
    overflow-wrap: break-word;
    word-wrap: break-word; 
    box-shadow: 3px 0px 5px 0px #e7e6e6;
    transition: 0.3s;
    border: none;
    border-radius: 5px;
  }
  .prod-btn:hover {
    opacity:1;
    color:#fff;
  }
  
  
  .item-container {
    margin-left: 50px;
  }
  
  .item-product {
    display: flex;
    flex-direction: column;
    padding: 0px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    
  
  }
  #item-product-cont {
    display: flex;
    flex-direction: row; 
    
  }
  .item-imaqe{  
    width: 320px;
  }
  .item-text {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
  }
  
  .item-text h4 {
    margin: 0 0 12.5px;
      font-family: "Montserrat",sans-serif;
      font-weight: 600;
      line-height: 1.2;
      overflow-wrap: break-word;
      word-wrap: break-word; 
      color: #000;
    
  }
  .item-text p {
  
    margin: 0 0 8px;
    font-family: "Montserrat",sans-serif;
    font-weight: 600;
    line-height: 1.2;
    overflow-wrap: break-word;
    word-wrap: break-word; 
    color: #000;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .item-text .price {
    font-size: 1.5vw;  
    margin: 0 0 8px;
    font-family: "Montserrat",sans-serif;
    font-weight: 300;
    line-height: 1.2;
    overflow-wrap: break-word;
    word-wrap: break-word; 
    color: #000;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-top:  -10px;
  }
  /*round colors*/

.colors-round {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    justify-content: left;  
    width: auto;
    margin-top: -20px;
     
    
  }
  .round-red , .round-blue, .round-w {
    margin: 5px;
  }
  .round-red {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: red;
  }
  
  .round-blue{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: blue;
  }
  
  .round-w{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: green;
  }
  
  .round-red:hover, .round-blue:hover , .round-w:hover{
    border: 2px solid black;
    
  }

  .item-a { 
    max-width: 100%;
  }

  
/*Media Responsive*/
@media screen and (min-width : 320px)
and (max-width : 900px) {
  
  #slider-d {
    overflow: hidden;

  }

  .item-container {
    margin-left: 20px;
  }
  
  .item-product {
    display: flex;
    flex-direction: column;
    padding: 0px;
    align-content: center;
    align-items: center;
    justify-content: center;
    
  
  }
  #item-product-cont {
    display: flex;
    flex-direction: row; 
    
  }

  .item-imaqe{  
    width: 320px;
    justify-content: center;
  }
  .item-text {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
  }

  #carousel-inner {
    display: flex;
    flex-direction: column;  
    
  }

  .item-text .price {
    
    margin: 0 0 18px;
    font-family: "Montserrat",sans-serif;
    font-weight: 600;
    font-size: 20px;
    overflow-wrap: break-word;
    word-wrap: break-word; 
    color: #3d4246;
    /*color: blue;*/
    margin-top: 10px;
    margin-bottom: 20px;
    margin-top:  -10px;
  }



}
