.shopy{
  height: 100vh;
  display:flex;
  flex-direction: row;
  width: 100%;  
  padding-top: 100px;

}

.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination > .active > a{
  background-color: #000 ;
  border-color: #000 ;
  color: #fff;
}
.pagination > li > a{
  border: 1px solid #000 ;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a,
 .pagination > .active > span,
  .pagination > .active > a:hover,
  .pagination > .active > span:hover,
  .pagination > .active > a:focus, .pagination > .active > span:focus{
  background-color: #000 ;
  border-color: #000;
  outline: none ;
}
.pagination > li > a, .pagination > li > span{
  color: #000
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
  border-radius: unset
}

.shop-product{
  display: flex;
  flex-direction: column;
  flex: 4;
  align-items: flex-end;
  margin-bottom: -70vh;  
  justify-content: end;
}

.shop-product .select {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;  
}
.select select {
  width:150px;
  height: 40px;
  border: 2px solid #000;
  background-color: transparent;
  color: rgb(82, 82, 82);
  margin-right: 10px;
  overflow: scroll;
  
}
.prod {
  display: flex;
  flex-direction: row;  
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-end;
  height: 200vh;
}
.bar {
  display: flex;
  flex-direction: column;
  flex: 1; 
}
.shop-bar{  
  color:#000;  
  height: 150vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.apparel {
  width: 10vh;
  height: 30vh;
  
}
.apparel  ul {
  list-style: none;
  text-decoration: none;
}

.apparel  ul li {
  cursor: pointer;
}

.dropwicon{
  display: flex;
  flex-direction: row;
}
.apadrop {
  display: none;
}
.dropactive {
  display: block;
}
.mypost{
  margin-right:10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.mypost .ba {
  position: absolute;
  top:0;
  left:0;
}
.post-title {
  font-size: 3px;
}