@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&display=swap');

.checkout {
    display:flex;
    justify-content: flex-start;
    /* align-items: center; */
    /* background-color: royalblue; */
    max-width: 100%;
    height:180vh;
}

.checkout-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: 2;
    padding:50px;
    /* background-color: red; */
}

.checkout-cart {
    height: fit-content;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    /* margin: 0 auto; */
    /* align-items: center;     */
    /* justify-content: flex-start; */    
    flex: 1;
    
}

form h2 {
    font-size: 48px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 50px;
}

/* forms */

.checkout-mail {
    display: flex;
    flex-direction: column; 
    height:60px;
    width: 100%;
    justify-content: space-around;
    margin-bottom:30px;    
}
.checkout-mail input{
    width: 550px;
    height: 50px;
    background-color: none;    
    padding-left:20px;
    margin-bottom:10px;
    background-color: transparent;
    color: rgb(14, 14, 14);
    border:1px solid #000;
    font-size: 16px;  
}

.checkout-name {
    display: flex;
    flex-direction: row;
    height:50px;
    width: 100%;
    padding-bottom:10px;
    margin-bottom:15px;
    
}


.checkout-name input {
    width: 262px;
    min-height: 50px;
    background-color: none;
    box-sizing: border-box;
    margin-right: 25px;
    padding-left: 20px;
    background-color: transparent;
    color: rgb(14, 14, 14);
    border:1px solid #000;
    font-size: 16px;  
    
}

.checkout-contact {
    display: flex;
    flex-direction: column; 
    height:140px;
    width: 100%;
    justify-content: space-around;
   
    
    
}



.checkout-contact input{
    width: 550px;
    height: 50px;
    background-color: none;    
    padding-left:20px;
    margin-bottom:10px;
    background-color: transparent;
    color: rgb(14, 14, 14);
    border:1px solid #000;
    font-size: 16px;  
}

.checkout-city {
    display: flex;
    flex-direction: column; 
    height:160px;
    width: 100%;
    justify-content: space-evenly;
        
}



.checkout-city input{
    width: 550px;
    height: 50px;
    background-color: none;    
    padding-left:20px;
    margin-bottom:10px;
    background-color: transparent;
    color: rgb(14, 14, 14);
    border:1px solid #000;
    font-size: 16px;  
}

.co-bottom {
    display: flex;
    width:96%;
    align-items: center;   
    margin-top:20px;
    justify-content: space-between;
}

.co-span {
    display: flex;
    align-items: center;    
    justify-content: space-between;
}

.co-span :nth-child(2) {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
}
.co-sign {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 800;
    margin-right: 10px;
}
.co-button-create {
    background-color: #000000;
    color: #fff;
    border: none;
    text-align: center;  
    width: 180px;
    height: 50px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Montserrat';
    font-weight: 800;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
}
.co-link {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    color: #000;
    text-decoration-color: #000;
    text-decoration: underline;
    opacity: .8;
}

.co-link:hover {
    
    color: #000;
    text-decoration-color: #000;
    text-decoration: underline;
    opacity: 1;
    
}

/* Small phones */
@media screen and (max-width: 575px)  {

    .checkout {
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        /* align-items: center; */
        /* background-color: royalblue; */
        width: 100%;
        height:fit-content;
    }

    .checkout-form {
        width:100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        flex: 1;
        margin-top:50px;
        /* padding:20px; */
        /* background-color: red; */
    }

    .checkout-cart {
        width:100%;
        height: 200vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        flex: 1;
        /* margin-bottom: 100px; */
        /* background-color: purple; */
    }

    form h2 {
        font-size: 36px;
        color: #000000;
        font-weight: bold;
        margin-bottom: 50px;
        width:100%;
        /* background-color: purple; */
    }

    /* forms */
    form {
        width:100%;
    }
    .checkout-mail {
        display: flex;
        flex-direction: column; 
        height:60px;
        width: 100%;
        justify-content: space-around;
        margin-bottom:30px;    
    }
    
    .checkout-mail input{
        width : 100%;
        height: 50px;
        background-color: none;    
        padding-left:20px;
        margin-bottom:10px;
        background-color: transparent;
        color: rgb(14, 14, 14);
        border:1px solid #000;
        font-size: 1rem;  
    }

    .checkout-name {
        display: flex;
        flex-direction: row;
        height:50px;
        width: 100%;
        padding-bottom:10px;
        margin-bottom:15px;        
        justify-content: space-evenly;
        
    }
    .checkout-name :nth-child(1) {
        margin-right: 25px;
    }
    .checkout-name input {
        width: 95%;
        min-height: 50px;
        background-color: none;
        box-sizing: border-box;
        margin-right: 0px;
        padding-left: 20px;
        background-color: transparent;
        color: rgb(14, 14, 14);
        border:1px solid #000;
        font-size: 1rem;  
        
    }

    .checkout-contact {
        display: flex;
        flex-direction: column; 
        height:140px;
        width: 100%;
        justify-content: space-around;
    
        
        
    }



    .checkout-contact input{
        width: 100%;
        height: 50px;
        background-color: none;    
        padding-left:20px;
        margin-bottom:10px;
        background-color: transparent;
        color: rgb(14, 14, 14);
        border:1px solid #000;
        font-size: 16px;  
    }

    .checkout-city {
        display: flex;
        flex-direction: column; 
        height:160px;
        width: 100%;
        justify-content: space-evenly;
            
    }



    .checkout-city input{
        width: 100%;
        height: 50px;
        background-color: none;    
        padding-left:20px;
        margin-bottom:10px;
        background-color: transparent;
        color: rgb(14, 14, 14);
        border:1px solid #000;
        font-size: 16px;  
    }

    .co-bottom {
        display: flex;
        width:100%;
        align-items: center;   
        margin-top:20px;
        justify-content: space-between;
    }
    
    .co-button-create {
        background-color: #000000;
        color: #fff;
        border: none;
        text-align: center;  
        width: 180px;
        height: 50px;
        cursor: pointer;
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: 'Montserrat';
        font-weight: 800;
        font-size: 14px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        
    }
    .co-link {
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 14px;
        color: #000;
        text-decoration-color: #000;
        text-decoration: underline;
        opacity: .8;
    }

    .co-link:hover {
        
        color: #000;
        text-decoration-color: #000;
        text-decoration: underline;
        opacity: 1;
        
    }

}

/* landscape phones */
@media screen and (min-width: 576px) and (max-width: 767px){
    .checkout {
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        /* align-items: center; */
        /* background-color: royalblue; */
        width: 100%;
        height:fit-content;
    }

    .checkout-form {
        width:100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        flex: 1  ;
        margin-top:50px;
        /* padding:20px; */
        /* background-color: red; */
    }

    .checkout-cart {
        width:100%;
        height: 170vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        flex: 1;
        /* margin-bottom: 100px; */
        /* background-color: purple; */
    }

    form h2 {
        font-size: 36px;
        color: #000000;
        font-weight: bold;
        margin-bottom: 50px;
        width:100%;
        /* background-color: purple; */
    }

    /* forms */
    form {
        width:100%;
    }
    .checkout-mail {
        display: flex;
        flex-direction: column; 
        height:60px;
        width: 100%;
        justify-content: space-around;
        margin-bottom:30px;    
    }
    
    .checkout-mail input{
        width : 100%;
        height: 50px;
        background-color: none;    
        padding-left:20px;
        margin-bottom:10px;
        background-color: transparent;
        color: rgb(14, 14, 14);
        border:1px solid #000;
        font-size: 1rem;  
    }

    .checkout-name {
        display: flex;
        flex-direction: row;
        height:50px;
        width: 100%;
        padding-bottom:10px;
        margin-bottom:15px;        
        justify-content: space-evenly;
        
    }
    .checkout-name :nth-child(1) {
        margin-right: 25px;
    }
    .checkout-name input {
        width: 95%;
        min-height: 50px;
        background-color: none;
        box-sizing: border-box;
        margin-right: 0px;
        padding-left: 20px;
        background-color: transparent;
        color: rgb(14, 14, 14);
        border:1px solid #000;
        font-size: 1rem;  
        
    }

    .checkout-contact {
        display: flex;
        flex-direction: column; 
        height:140px;
        width: 100%;
        justify-content: space-around;
    
        
        
    }



    .checkout-contact input{
        width: 100%;
        height: 50px;
        background-color: none;    
        padding-left:20px;
        margin-bottom:10px;
        background-color: transparent;
        color: rgb(14, 14, 14);
        border:1px solid #000;
        font-size: 16px;  
    }

    .checkout-city {
        display: flex;
        flex-direction: column; 
        height:160px;
        width: 100%;
        justify-content: space-evenly;
            
    }



    .checkout-city input{
        width: 100%;
        height: 50px;
        background-color: none;    
        padding-left:20px;
        margin-bottom:10px;
        background-color: transparent;
        color: rgb(14, 14, 14);
        border:1px solid #000;
        font-size: 16px;  
    }

    .co-bottom {
        display: flex;
        width:100%;
        align-items: center;   
        margin-top:20px;
        justify-content: space-between;
    }
    
    .co-button-create {
        background-color: #000000;
        color: #fff;
        border: none;
        text-align: center;  
        width: 180px;
        height: 50px;
        cursor: pointer;
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: 'Montserrat';
        font-weight: 800;
        font-size: 14px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        
    }
    .co-link {
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 14px;
        color: #000;
        text-decoration-color: #000;
        text-decoration: underline;
        opacity: .8;
    }

    .co-link:hover {
        
        color: #000;
        text-decoration-color: #000;
        text-decoration: underline;
        opacity: 1;
        
    }
}


/* Media Queries: Tabled Portrait */
@media screen and (min-width: 768px) and (max-width: 991px) {

    
    .checkout {
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        /* align-items: center; */
        /* background-color: royalblue; */
        width: 100%;
        height:fit-content;
    }

    .checkout-form {
        width:100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        flex: 1;
        margin-top:50px;
        /* padding:20px; */
        /* background-color: red; */
    }

    .checkout-cart {
        width:100%;
        height: 200vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        flex: 1;
        /* background-color: purple; */
    }

    form h2 {
        font-size: 36px;
        color: #000000;
        font-weight: bold;
        margin-bottom: 50px;
    }

    /* forms */
    form {
        width:80%;
    }
    .checkout-mail {
        display: flex;
        flex-direction: column; 
        height:60px;
        width: 100%;
        justify-content: space-around;
        margin-bottom:30px;    
    }
    
    .checkout-mail input{
        width : 100%;
        height: 50px;
        background-color: none;    
        padding-left:20px;
        margin-bottom:10px;
        background-color: transparent;
        color: rgb(14, 14, 14);
        border:1px solid #000;
        font-size: 16px;  
    }

    .checkout-name {
        display: flex;
        flex-direction: row;
        height:50px;
        width: 100%;
        padding-bottom:10px;
        margin-bottom:15px;        
        justify-content: space-evenly;
        
    }
    .checkout-name :nth-child(1) {
        margin-right: 25px;
    }
    .checkout-name input {
        width: 95%;
        min-height: 50px;
        background-color: none;
        box-sizing: border-box;
        margin-right: 0px;
        padding-left: 20px;
        background-color: transparent;
        color: rgb(14, 14, 14);
        border:1px solid #000;
        font-size: 16px;  
        
    }

    .checkout-contact {
        display: flex;
        flex-direction: column; 
        height:140px;
        width: 100%;
        justify-content: space-around;
    
        
        
    }



    .checkout-contact input{
        width: 100%;
        height: 50px;
        background-color: none;    
        padding-left:20px;
        margin-bottom:10px;
        background-color: transparent;
        color: rgb(14, 14, 14);
        border:1px solid #000;
        font-size: 16px;  
    }

    .checkout-city {
        display: flex;
        flex-direction: column; 
        height:160px;
        width: 100%;
        justify-content: space-evenly;
            
    }



    .checkout-city input{
        width: 100%;
        height: 50px;
        background-color: none;    
        padding-left:20px;
        margin-bottom:10px;
        background-color: transparent;
        color: rgb(14, 14, 14);
        border:1px solid #000;
        font-size: 16px;  
    }

    .co-bottom {
        display: flex;
        width:100%;
        align-items: center;   
        margin-top:20px;
        justify-content: space-between;
    }
        
}