@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap');

.footer {
    background-color: #000;
    width: 100%;
  }
  .footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between
  
  }
  .footer-brand {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: center;  
    float: left;
    
  }
  .footer-ins, .footer-fb, .footer-tw {
    margin: 20px;
    color: #fff;
  }
  .footer-copy {
    display: flex;
    flex-direction: row;     
    align-items: center;
    margin-top: 15px;
    margin-left: 10px;
  }
  .footer-copy p{
    font-weight: 700;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
  }

  .footer-links ul{
    display: flex;
    flex-direction: row;
    margin-top: 12px;  
    
  }
  
  .footer-links ul li{
    
    list-style: none;
    margin: 10px;
  }
  
  .footer-links ul li a{
    list-style-type: none;
    color: #fff;
  }
  
  .footer-links ul li a:hover {
    
    color: #838383;
  }

 /*Media Responsive*/
@media screen and (min-width : 320px)
and (max-width : 900px) {

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between
    
    }
  
  .footer-ins, .footer-fb, .footer-tw {
    margin: 15px;
    color: #989898;
  
  }
  
  .footer-copy {
    display: flex;
    flex-direction: column;
    text-align : center;     
    align-items: center;
    margin-top: 18px;
    
  }
  .footer-copy p{
    text-align: center;
    font-size: 13px;
    font-family: "Poppins","HelveticaNeue","Helvetica Neue",sans-serif;
    color: #fff;
    margin-left: 40px;
  }
  
    .footer-links ul li{
    font-size: 15px;
    text-decoration: none;  
    list-style: none;
    margin: 5px;
    }

    .footer-links ul li a{
    text-decoration: none;
    list-style-type: none;
    text-decoration-style: none;
    color: #fff;
    text-align: center;
    }

}

@media screen and (min-width : 1000px)
and (min-width : 1024px){
  
    .footer-ins, .footer-fb, .footer-tw {
        margin: 15px;
        color: #989898;
      
      }
      
      .footer-copy {
        display: flex;
        flex-direction: column;
        text-align : center;     
        align-items: center;
        margin-top: 18px;
        
      }
      .footer-copy p{
        text-align: center;
        font-size: 13px;
        font-family: "Poppins","HelveticaNeue","Helvetica Neue",sans-serif;
        color: #fff;
        margin-left: 40px;
      }
      
        .footer-links ul li{
        font-size: 15px;
        text-decoration: none;  
        list-style: none;
        margin: 5px;
        }
    
        .footer-links ul li a{
        text-decoration: none;
        list-style-type: none;
        text-decoration-style: none;
        color: #fff;
        text-align: center;
        }

}