/*Nav Brand*/

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  .App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }
  
  .App-intro {
    font-size: large;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  @keyframes preloader {
    0%   {height: 25px;}
    25%  {height: 40px;}
    50%  {height: 50px;}
    75%  {height: 40px;}
    100% {height: 25px;}
  }
  
  .brand {
    float: left;
    margin: auto;
    margin-top: 17px;
    margin-left: 10px;
    
  }
  
  .App-brand {  
    height: 30px;
    
  }

  
#barIcon {
  display: inline-block;
  cursor: pointer;
  display: none;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  transition: 0.5s;
  margin: 6px 0;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

  
  /*NavBar*/
  .newNav{
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .mainnav {
    width: 100%;  
    margin: auto;  
    display: flex;
    flex-direction: row;
    background-color: black;  
  }
  .navul  {
    display: flex;
    flex-direction: row;
    float: right;
    padding: 10px;
    margin-right: 10px;
    margin-top: 10px;
    text-decoration: none;
    list-style-type: none;
  }
  
  .navul li a {
    text-decoration: none;
    margin-right: 25px;
    color : white;
    font-size: 15px; 
    font-weight: bold;  
  }
  
  .navul li a:hover {
    padding: 0px;
    color : white;    
    font-size: 15px;
    opacity: 0.6;
 
    transition: 0.5s ease;
  }
  #drop {
    color: #fff;
  }
  #dropy {
    position: absolute;
    z-index: 999;
    margin: auto;  
    right: 0px;
    margin-right:10px;
    margin-top: 30px;
    display: none;
    padding: 10px;
    border: 5px solid black;
  }
  .dropdownNav li {
    text-decoration: none;
    list-style-type: none;
    
  }
  
  .dropdownNav li a {
    text-decoration: none;
    margin-right: 25px;
    color : white;
    font-size: 18px; 
    font-weight: bold;  
  }

  
/*Media Responsive*/
@media screen and (min-width : 320px)
and (max-width : 500px) {
  .mainnav {
    width: 100%;
    height: 70px;
    margin: auto;  
    display: flex;
    flex-direction: row;
    background-color: black;  
    justify-content: center;
    align-items: center;

  }
  .brand {
    float: left;
    margin: auto;
    margin-top: auto;
    margin-left: 10px;
    
  }
  
  .App-brand {  
    height: 30px;
    
  }
  .navul {
    display: none;
  }

  #barIcon {
    display: block;
    float: right; 
    margin-right: 20px;
  }

}

